/* Styling form and resume sections */

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: rgb(239, 239, 243);
}

form {
    margin: auto;
    background-color: rgb(5, 24, 64);
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(9, 8, 8, 0.5);
    padding: 10px;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: black;
}

fieldset {
    border: 2px solid rgb(16, 20, 37);
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(10, 66, 121);
}

legend {
    font-weight: bold;
    text-align: left;
    color: rgb(251, 248, 248);
}

label {
    display: block;
    margin-top: 10px;
    color: rgb(252, 248, 248);

}

input,textarea {
   background-color: rgb(170, 168, 167);
    margin-top: 4px;
    padding: 4px;
    width: calc(100% - 1px);
    border: 1px solid rgb(0, 3, 12);
    border-radius: 8px;
    box-sizing: border-box
}

button {
    display: block;
    width: 100%;
    background-color: rgb(141, 141, 146);
    color: black;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(15, 30, 113, 0.5);
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor: pointer;
}

button :hover {
    color: rgb(249, 95, 6);
}

#resume-display {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid rgb(21, 40, 135);
    border-radius: 8px;
    background-color: rgb(4, 10, 87);
    box-shadow: 0 4px 8px rgba(150, 48, 48, 0.5);
}

#resume-display h2 {
    color: rgb(248, 245, 245);
}
